<!DOCTYPEhtml>
<html>
<head>
    <title>R3alB0t - Features</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css" />
    <script src="/js/window.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <style type="text/css">
        img {
            position: absolute;
            top: 250px;
            left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;
        }
    </style>
</head>
<body>

	<%- include('templates/navbar', {user: user}) -%>
    
        <img src="/img/maidchan_laptop.png" style="width: 450px;">

    <nav>
        <lii><p3 id="li">want to contribute or host your own click <a href="http://github.com/R3alCl0ud/R3alB0t">here</a> to go to the source</p3></lii>
    </nav>
</body>
</html>