<!DOCTYPEhtml>
<html lang="en">
<head>
    <title>R3alB0t</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css" />
    <script src="/js/window.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <style type="text/css">
        img {
            position: absolute;
            top: 375px;
			left:0;
			right:0;
			margin-left:auto;
			margin-right: auto;
        }
    </style>
</head>

		<%- include('templates/navbar', {user: user}) -%>
		<center><img src="/img/maidchans.png" style="width:450px;"></center>
        <H1>R3alB0t</H1>
        <div class="add">
            <a href="http://r3alb0t.xyz/bot">
                <p1>ADD TO DISCORD</p1>
            </a>
        </div>
    <nav>
        <lii><p3 id="li">want to contribute or host your own click <a href="http://github.com/R3alCl0ud/R3alB0t">here</a> to go to the source</p3></lii>
    </nav>

</html>