<!DOCTYPEhtml>
<html lang="en">
<head>
    <title>R3alB0t</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <style type="text/css">
        img {
            position: absolute;
            top: 325px;
            left: 0;
			right:0;
			margin-right:auto;
			margin-left:auto;
        }
    </style>
</head>
<body>
	<%- include('templates/navbar', {user: user}) -%>
	
	<center>
		<select name="servers" id="select">
			<option value="">Make your choice ;)</option>
			<% for (var i=0; i<guilds.length; i++) {%>
				<option value="/terminal/<%= guilds[i].id %>"><%= guilds[i].name %></option>
			<% } %>
		</select>
	</center>
	
	<script>
$("#select").change(function () {
	var val = jQuery(this).val();
	if(val!=''){
		location.href = val
	}
})
	</script>
	
    <nav>
        <lii><p3 id="li">want to contribute or host your own click <a href="http://github.com/R3alCl0ud/R3alB0t">here</a> to go to the source</p3></lii>
    </nav>
</body>
</html>