<!DOCTYPEhtml>
<html lang="en">
<head>
    <title>R3alB0t</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/jquery.tablesorter.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/playlist.css">
</head>
<body>
	<%- include('templates/navbar', {user: user}) -%>

	
	<%- include('templates/playlist', { playlist : "test"}) -%>

	<div class="terminal">
	</div>
	
	


	
    <nav>
        <lii><p3 id="li">want to contribute or host your own click <a href="http://github.com/R3alCl0ud/R3alB0t">here</a> to go to the source</p3></lii>
    </nav>
</body>
</html>