<style>
ul {
    top: 0;
    list-style-type: none;
    margin: 0;
	padding: 0;
    z-index:11;
}

li {
    float: left;
    min-height: 50px;
}
li a,
.dropbtn {
    display: inline-block;
    color: black;
	z-index: 5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    background-color: #f9f9f9;
    min-width: 100%;
	right:0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
	margin:auto;
    text-align: center;
}


.show {
    display: block;
}
</style>
   <ul id="nav">
       <li><a href="/" id="nav" class="hvr-underline-from-center"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
       <li><a href="/features" id="nav" class="hvr-underline-from-center">Features</a></li>
	<% if (user) { %>
		<li class="dropdown hvr-underline-from-center" style="float:right" id="nav">
           <a href="javascript:void(0)" class="dropbtn" onclick="myFunction()"><img src="https://discordapp.com/api/users/<%= user.id %>/avatars/<%= user.avatar%>.jpg"></img><%= user.username %></a>
           <div class="dropdown-content" id="myDropdown" >
               <a href="/servers" id="nav" class="hvr-underline-from-center">Servers <i class="fa fa-server" aria-hidden="true"></i></a>
               <a href="/logout" class="hvr-underline-from-center">Logout <i class="fa fa-sign-out" aria-hidden="true"></i></a>
           </div></li>
	<% } else { %>
		<li style="float:right" class="hvr-underline-from-center"><a href="/bot">Login <i class="fa fa-sign-in" aria-hidden="true"></i></a></li>
	<% } %>
	</ul>


<script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    for (var d = 0; d < dropdowns.length; d++) {
      var openDropdown = dropdowns[d];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
