

 <div id="wrapper">
  <h1></h1>
  
  <table id="keywords" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th><span>Title</span></th>
        <th><span>Length</span></th>
        <th><span>Platform</span></th>
        <th><span>Requested By</span></th>
        <th><span>Position</span></th>
      </tr>
    </thead>
    <tbody>
	<% for (var i=0; i<10; i++) { %>
      <tr>
        <td class="lalign"></td>
        <td></td>
        <td></td>
        <td></td>
        <td><%=i %></td>
      </tr>
	<% } %>
    </tbody>
  </table>
 </div> 
<script type="text/javascript">
$(function(){
  $('#keywords').tablesorter(); 
});
</script>