.fa {
}
.fa-angle-double-down, .fa-angle-double-up {
	font-size: 24px;
}

.playlist {
	z-index:1;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}
table {
	width: 100%;
	background-color: #044ebf;
	text-align:left;
}

table[data-sortable] th[data-sorted="true"] {

}
table[data-sortable] th:not([data-sortable="false"]) {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  cursor: pointer;
}

thead {
	padding: 10px 17px;
}

th {
	background-color: #25acd5;
	border: 1px solid lightgrey;
	padding: 10px 17px;
}

td {
	border: 1px solid lightgrey;
	text-align: left;
	padding: 10px 17px;
}
